.buttons {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.elevatorBtn {
  width: 50px;
  height: 50px;
  border: black;
}

.elevatorGrid {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-gap: 12px;
}

.elevatorWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elevatorTracks {
  width: 200px;
  height: 100%;
  border-left-color: grey;
  border-left-style: solid;
  border-right-color: grey;
  border-right-style: solid;
  border-width: 5px;
  position: relative;
}

.elevator {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 160px;
  height: 100px;
  background: black;
}